
{% extends "TestBlogBundle::layout.html.twig" %}

{% block title %} 
  Accueil - {{ parent() }}
{% endblock %}

{% block blog_body %}
  <h2>liste des Annonces</h2>
  <ul>
    {% for advert in listAdverts %}

      <li>
        {{ advert.id }} -
        <a href="{{ path('blog_view', {'id': advert.id}) }}"> {{ advert.title }} </a>
        <p>par {{ advert.author }},le {{ advert.date|date('d/m/Y') }}</p>
      </li>

    {% endfor %}

  </ul>

  <ul class="pagination">
  {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
  {% for p in range(1, nbPages) %}
    <li{% if p == page %} class="active"{% endif %}>
      <a href="{{ path('blog_home', {'page': p}) }}">{{ p }}</a>
    </li>
  {% endfor %}

</ul>

{% endblock %}