<!DOCTYPE html>

<html>
  <head>
    <title>Affichage de l'annonce {{ id }}</title>
  </head>
  <body>
    <h1>Affichage de l'annonce n°{{ id }} !</h1>

    <div>
      {# On affiche tous les messages flash dont le nom est « info » #}
      {% for message in app.session.flashbag.get('info') %}
        <p>Message flash : {{ message }}</p>
      {% endfor %}
    </div>

    <div>

      {% if advert.image is not null %}
        <img src="{{ advert.image.url }}" alt="{{ advert.image.alt }}">
      {% endif %}
      
    </div>
  </body>
</html>